.search-bar {
  height: 3rem;
  font-size: 1.7rem;
  padding: 0.25rem 0.5rem;
  border: solid;
  border-width: thin;
  border-color: #a7a7a7;
  border-radius: 0.25rem;
}

.suggest-list {
  background-color: rgb(112, 112, 112);
  width: 100%;
  position: absolute;
  top: 3rem;
  z-index: 99;
}

.suggest-item {
  height: 2.3rem;
  background-color: #ffffff;
  border: solid;
  border-width: 0px 1px 1px 1px;
  border-color: #cdcdcd;
  padding: 0 0.4rem 0 0.2rem;
}

.suggest-item:hover {
  height: 2.3rem;
  background-color: #ffffff;
  border: solid;
  border-width: 0px 1px 1px 1px;
  border-color: #cdcdcd;
  color: #9e0606;
  padding: 0 0 0 0.2rem;
  transition: all 0.2s;
}

.fa.fa-search.search-icn {
  font-size: 1.8rem;
  position: absolute;
  right: 1rem;
  color: #919191;
}
