html, body {
    height: 100%;
    width: 100%;
}

#main-page-div {
    align-content: center;
    vertical-align: middle;
}

#main-row-div {
    height: 33%;
    padding-top: 100px;
    align-content: center;
    vertical-align: middle;
}

#search-bar {
    width: 50%;
}

